<div class="container">
  <div class="row contentTargeta">
    <div class="col s5">
      <div class="card targeta">
        <div class="card-content">
          <form #employeeForm = "ngForm" (ngSubmit)='addEmployee(employeeForm)'>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text"  name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Ingresa tu nombre">
              </div>
              <div class="input-field col s12">
                  <input type="text"  name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Ingresa tu posición">
              </div>
              <div class="input-field col s12">
                  <input type="text"  name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Ingresa tu Oficina">
              </div>
              <div class="input-field col s12">
                  <input type="text"  name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Ingresa tu salario">
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                    <button class="btn" (click)="resetForm(employeeForm)">Clean</button>
                  <button class="btn right">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
          <thead>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Salary</th>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeeService.employees">
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.office }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                  <a (click)="editEmployee(employee)"><i class="material-icons icon">edit</i></a>
                  <a (click)="deleteEmployee(employee._id)"><i class="material-icons icon">delete</i></a>
                </td>
              </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
